
@font-face {
  font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url("./fonts/Poppins-Regular.ttf") ;
}
@font-face {
  font-family: 'Poppins SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins SemiBold'), url("./fonts/Poppins-SemiBold.ttf") ;
}
@font-face {
  font-family: 'Poppins ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraBold'), url("./fonts/Poppins-ExtraBold.ttf") ;
}
@font-face {
  font-family: 'Poppins Light';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Light'), url("./fonts/Poppins-Light.ttf") ;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  font-family: 'Poppins Regular';
  /* overflow-x: hidden; */
}
.abu{
  overflow: hidden;
}
.background{
  background-image: url("https://images-ext-1.discordapp.net/external/1r97tBUM-Ua14hhYlmIoTinwA_R95A12H0FxVOBHQ_c/https/growthware-ten.vercel.app/static/media/HeroBg.41e6f7252cc969083e45.webp?format=webp&width=1113&height=663");
  height: 860px;
  background-position: center;
  background-size: cover;
  /* width: 500hv; */
  /* margin: auto; */
}
.container{
  /* max-width: 1440px; */
  /* margin: auto; */
  /* overflow: hidden; */
  
}
#navHeader{
  display: none;
}
.header{
  
  margin: auto;
  max-width: 1184px;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding: 48px 0px 0px 0px;
  /* max-height: 92px; */
}
.header1{
  max-width: 199.04px;
  max-height: 36px;
  gap: 48px;
  left: 27.51px;
  margin-right: 30px;
}

.header2{
  max-width: 432px;
  max-height: 24px;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;  
  font-weight: 400; 
  line-height: 14px;  
}
.cursor{
  cursor: pointer;
}
.header2-parts select{
  max-height: 18px;
  max-width: 18px;
  background: none;
  border: none;
}
.header3{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-width: 214px;
  max-height: 44px;  
  cursor: pointer;
}
#header3-part1{
  max-width: 42px;
  /* height: 14px;   */
}
#header3-part1 a{
  text-decoration: none;
  font-weight: 600;
  color:#22252B;  
  font-size: 14px;  
  line-height: 14px;
}
 #header3-part2 button{
  background-color: #754BC9;
  max-width: 148px;
  max-height: 44px; 
  line-height: 14px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 48px;
  padding: 15px 18px 15px 18px;
  border: none;  
} 
#rocket{
  height: 20px;
  width: 20px;
}

/* ---------------frontpage----------------------- */


.frontPage{
  /* background-color: yellow; */
  max-width: 1184px;
  max-height: 768px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  margin: auto; 
  /* overflow: hidden;    */
}
#frontPage-part1{
  max-width: 544px;
  max-height: 540px;
  /* gap: 48px; */
  /* border: 1px solid red; */
}

#frontPage-part1-text-heading{
  max-width: 544px;
  
}
#frontPage-part1-text-heading h1{
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  font-family: "Poppins SemiBold";
  color: #22252B;
}
#frontPage-part1-text-para{
  max-width: 544px;
  margin-top: 22px;
  
}
#frontPage-part1-text-para p{
 font-size: 24px;
 line-height: 42px;
 font-style: italic;
 font-weight: 300;
 color: #754BC9;
 font-family: "Poppins Light";
}
#frontPage-part1-button button{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
max-width: 171px;
/* height: 60px; */
border-radius: 48px;
padding: 18px 24px 18px 24px;
background-color: #22252B;
color: white;
border: none;
font-size: 16px;
font-weight: 600;
/* line-height: 24px; */
margin-top: 35px;
}
#text{
  margin-right: 10px;
}
/* #frontPage-part1-button img{
  width: 24px;
  height: 24px;
} */
#frontPage-part2{
 
  max-width: 720px;
  height: 768px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
   /* border: 1px solid blue; */
}
  #frontPage-part2 img{
  width: 100%;
  height: 476.55px;
  mix-blend-mode: multiply;   
  /* background-color: red; */
  /* margin-right: -500px; */
  margin-left: 20px;
}
/* ---------------secondpage---------- */

.background2{
  
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255,255, 255, 1)),url(https://s3-alpha-sig.figma.com/img/b21b/5ec0/4ce70ae09a940396858d97a691664b6e?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OmvKLVvz0nuoEWTcBy9Ps~juKYSGnEKNHWTJiVQQztp7iZpVjPmnvhISMr1k1u9zg~TgRHIAcdacRxgCPRnz5Mwjrmt~LUmdIj6WKgWOv9YWhA-zltc1-IWkuZR~hDYbZT0smmnCb3oT~VCLI95-RKJLkAGJrLsP65XD3tVqMVUSB4drcNHsLfwywgWFfL7jraKMQOI7rEao4yFrwnISk8bwuuZvZeeN0Tc1ueMfeKj5X28vNwuRG6bxHmMrgkes-UAgAE9UF1OuQ3J6~qyFRkBfkbFIYR8qs7LjKitS~WM61nVxMgJkUE3Mq8lq~MuNAr~2Wv74Pufi5VQZlELJJA__);
  background-size: cover;
  background-position: center;
  
}
.secondPage{
  
  max-width: 1184px;
  margin: auto;
  padding: 96px 0px 96px 0px;
  gap: 48px;  
  display: flex;
  flex-direction: column;
  align-items: center;
   
}

#secondPage-part1{
  max-width: 1184px;
  /* height: 249px; */
  gap: 24px;
  display: flex;
  flex-direction: column;
}
#secondPage-part1-heading{
  max-width: 1184px;
  height: 45px;
}
#secondPage-part1-heading h3{
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  color: #22252B;
  
}
#secondPage-part1-text{
  max-width: 1184px;
  padding: 0px 128px 0px 128px;
  gap: 24px;
}
#secondPage-part1-text p{
  font-size: 48px;
  font-style: italic;
  line-height: 60px;
  text-align: center;
  font-weight: 900;
  color: #754BC9;
  font-family: "Poppins ExtraBold";
}
#secondPage-part2{
  display: flex;
  max-width: 1184px;
  gap: 48px;
  
}
#secondPage-part2-para1{  
  max-width: 568px;
 }
#secondPage-part2-para1 P{
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
#secondPage-part2-para2{
  max-width: 568px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  }
#secondPage-part2-para2-part1{
  max-width: 568px;
}
#secondPage-part2-para2-part1 p{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #434956;
}
#secondPage-part2-para2-part2{
  max-width: 568px;
 }
#secondPage-part2-para2-part2 p{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #434956;
}


.thirdPage{
  /* max-width: 1184px; */
  /* height: 448px; */
  background-color: #F3F4F7;
  /* background-color: blue; */
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  /* display: flex; */
  /* margin: auto; */
  /* justify-content: space-between; */
  /* align-items: center; */
  font-family: "Poppins Light";
  /* width: 100%; */
  }
  
#thirdPage-part1{
   /* max-width: 544px;  */
  /* height: 448px;  */
   background-color: #754BC9; 
   display: flex;
   justify-content: flex-end;
   align-items: center; 
   width: 95%;
   /* background-color: red;   */
}
.thirdpageMasla{
  max-width: 544px;
  height: 448px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
#thirdPage-part1-innerPart{
  width: 544px;
  height: 292px;
  /* background-color: red */
  /* top: 78px; */
  /* padding: 0px 0px 0px 20px; */
  gap: 24px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  color: white;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600; 
  
  /* margin: auto 0 auto auto; */
    
}
#thirdPage-part1-rows{
  display: flex;
  align-items: center;
}

#thirdPage-part1-innerPart h6{
  font-size: 16px;
}
#icon1 img{  
  margin-right: 15px;
}
#icontext{
  max-width: 496px;
  /* background-color: yellow; */
}
#thirdPage-part2{
  /* max-width: 544px; */
  /* height: 448px; */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: flex-start;
  /* background: linear-gradient(to right, #F3F4F7, #E1E4EA); */
  /* background-color: green; */
  width: 100%;
}

#thirdPage-part2-innerPart{
  /* background-color: yellow; */
  max-width: 544px;
  height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* gap: 96px; */
  /* padding: 0px 0px 0px 10px; */
  /* max-width: none; */
  margin-left: 35px;
  
  /* background-color: blue; */
}

#thirdPage-part2-innerPart img{
  height: 32px;
  width: 32px;
  margin-bottom: 30px;
}
#thirdPage-part2-innerPart-content{
  /* max-width: 544px; */
  /* height: 220px; */
  
}
#thirdPage-part2-innerPart-content h1{
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Poppins SemiBold";
}

.fourthPage{
  max-width: 1184px;  
  height: 753px; 
  gap: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.background3{
  background: rgba(243, 244, 247, 0.5);

}
#fourthPage-part1{
  max-width: 293px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 81px;
  
}
#fourthPage-part1 h6{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #754BC9;
}
#fourthPage-part1 h3{
 font-size: 36px;
 font-weight: 600;
 line-height: 45px;
 text-align: center;  
} 
#fourthPage-part2{

  max-width: 972px;
  height: 432px;
  gap: 48px;  
      
}
#fourthPage-part2-row1{
 
  max-width: 720px;
  /* height: 144px;   */
  display: grid;  
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 48px;
  
}

.fourthPage-rows{
  width: 144px;
  height: 144px;
  border-radius: 24px;
  padding: 0px 12px 0px 12px;
  gap: 12px; 
  box-shadow: 10px 18px 18px 10px rgba(0, 0, 0, 0.09);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fourthPage-rows p{
  /* background-color: yellow; */
  font-weight: 600;
}
.fifthPage{
  max-width: 1184px;
  height: 568px;
  margin: auto;
  display: flexbox;
  padding: 60px 0px 0px 0px;
  
}
#fifthPage-part1{
  max-width: 978px;
  height: 68px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  margin: auto;
  border: 0px 0px 1px 0px ;
  padding: 0px 0px 24px 0px;
  border-bottom: 1px solid rgba(212, 213, 217, 1);
}
#fifthPage-part1-options{
  max-width: 504px;
  height: 44px;
  gap: 24px;
  display: flex;
  justify-content: space-between;
  
}
#fifthPage-part1-options select{
    /* background-color: yellow; */
    position: relative;
    appearance: none;
    /* max-width: 504px; */
    /* text-transform: none; */
}
/* .custom{
  position: relative;
} */
.custom{
  position: relative;
  
}

#customImage {
  position: absolute;
  left: 200px;
  top: 12px;
}
.custom2{
  position: relative;
}
#customImage2 {
  position: absolute;
  left: 200px;
  top: 12px;
}
#customImage img{
  left: 50px;
}
#department{
  /* position: absolute; */
  width: 240px;
  height: 44px;
  border-radius: 6px;
  border: 1px;
  padding: 8px 50px 8px 16px;
  font-size: 16px;
  border: 1px solid rgba(212, 213, 217, 1);
  /* background-color: red; */
}

#position{
  width: 240px;
  height: 44px;
  border-radius: 6px;
  border: 1px;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  border: 1px solid rgba(212, 213, 217, 1);
}
#search{
  max-width: 260px;
  height: 44px;
  border-radius: 48px;
  border: 1px;
  padding: 9px 16px 8px 16px;
  gap: 12px;
  line-height: 28px;
  border: 1px solid rgba(212, 213, 217, 1);
  display: flex;
}
#search input{
  border: none;
}
#search input:focus{
  outline: none;
}
 input[type="text"]{
  /* padding: 10px; */
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;  
  /* background-color: red; */
  /* height: 28px; */
}
#search img{
  width: 24px;
  height: 24px;
}

#fifthPage-part2{
  max-width: 978px;
  height: 130px;
  margin: auto;
  /* background-color: red; */
  gap: 24px;
  padding: 0px 0px 0px 24px;
  border: 0px 0px 0px 2px;
  margin-top: 48px;
  border-left: 2px solid rgba(117, 75, 201, 1);
}
#fifthPage-part2-heading h4{
 font-weight: 600; 
 font-size: 24px;
 line-height: 30px;
 color: rgba(34, 37, 43, 1);
}
#fifthPage-paras{
  max-width: 298px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  color: rgba(34, 37, 43, 1);
}
#line{
  width: 1px;
  height: 24px;
  background-color: rgba(212, 213, 217, 1);
}
#fifthPage-paras p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(34, 37, 43, 1);
}
#fifthPage-part2-para p{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 12px;
  color: rgba(34, 37, 43, 1);
}

#fifthPage-part2-button{
  /* display: flex; */
  /* align-items: center;s */
  /* justify-content: center; */
}
#fifthPage-part2-button button{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(117, 75, 201, 1);
  background: none;
  border: none;
  margin-top: 12px;
  display: flex;
  align-items: center;  
}
#buttonPara{
  margin-right: 10px;
}

#fifthPage-part2-button img{

/* margin-top: 20px; */
  max-width: 17.42px;
  height: 17px;

}
#fifthPage-paras2{
  
  max-width: 363px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
#fifthPage-paras2 p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer{
  max-width: 1184px;
  height: 553px;
  
  margin: auto;
  padding: 72px 0px 72px 0px;
}
#extraG{
  display: none;
}
.background4{
  background-color: rgba(67, 73, 86, 1);
}
.footerContent{
  max-width: 1184px;
  height: 409px;
  /* background-color: aqua; */
}
.footerPart1{
  max-width:1184px;
  height: 288px;
  gap: 48px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));

}
.footerPart1-parts{
  max-width: 260px;  
}
#footerPart1-col1 img{
  width: 48px;
  height: 48px;
}
.footerPart1-parts h6{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  color: white;

}
.footerPart1-parts a{
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  gap: 12px;
  line-height: 24px;
  color: white;
  /* background-color: blue; */
  margin-bottom: 12px;
  /* padding-bottom: 100px; */
  display: flex;
  flex-direction: column;
}
#footerPart1-col2{
  
}
#footerLine{
  height: 1px;
  opacity: 10%;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 48px;
  margin-top: 48px;
}
.footerPart2{
  max-width: 1184px;
  height: 24px;
  display: flex; 
  justify-content: space-between;  
}
#footerPart2-col1 img
{  
  max-width: 100px;
  width: 24px;
  height: 24px;
}

#footerPart2-col2{
  
  display: flex;
  /* justify-content: space-between; */
  /* background-color: red; */
  
  /* width: 504px; */
  
}
#footerPart2-col2 a{
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  line-height: 24px;
  color: rgba(212, 213, 217, 1);
  margin-left: 23px;
}
@media(max-width:1200px)
{
  .header{
    max-width: 1000px;
  }
  .frontPage{
    max-width: 1000px;
  }
  .secondPage{
    max-width: 1000px;  
  }
  #secondPage-part1-text{
    padding: 0px;
  }
  .thirdPage{
    /* max-width: 1000px; */
  }
  #thirdPage-part1{
    width: 100%;
  }
  #thirdPage-part2-innerPart{
    margin-left: 70px;
  }
  #thirdPage-part2-innerPart {
    padding-left: 50px;
}
#thirdPage-part1-innerPart{
  
  max-width: 500px;
}
#thirdPage-part2-innerPart{
  
  max-width: 500px;
}
.fourthPage{
  max-width: 1000px;
  /* background-color: red; */
}
.fifthPage{
  max-width: 1000px;
  /* background-color: red; */
}
.footer{
  max-width: 1000px;
}
}
@media(max-width:1000px)
{
   .background{ 
    height: 1230px;
    
  } 
  #navHeader{
    display:inline;    
  }
  #navHeader img{
    height: 50px;
    width: 50px;    
  }
  .header{  
    max-width: 800px;    
  }
  .header2,.header3{
    display: none;
  }
  .frontPage{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 70px 0px 0px 0px;
    margin: auto;
    
  }
  #frontPage-part1{
    /* margin-right: 300px; */
    margin-right: 200px;
    margin-bottom: 50px;   
    
    /* max-width: 900px; */
    /* margin-right: 200px; */
    }
  .secondPage{
    max-width: 800px;
  }
  #secondPage-part1-text{
    padding: 0px 60px 0px 60px;
  }
  #secondPage-part2{
    
    display: flex;
    flex-direction: column;
  }
  #secondPage-part2-para1{
    max-width: none;
  }
  #secondPage-part2-para2{
    max-width: none;
  }
  #secondPage-part2-para2-part1{
    max-width: none;
  }
  #secondPage-part2-para2-part2{
    max-width: none;
  }
  .thirdPage{    
    display: flex;
    flex-direction: column;
  }
  #thirdPage-part1-innerPart{
    margin: 0;
    /* padding-left: 90px; */
    max-width: none;
  }
  
  #thirdPage-part1{
    /* max-width: 800px; */
    /* margin: auto; */
    height: 448px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  #adjust{
    height: 448px;
    width: 800px;
    margin: auto;
  }
  .thirdpageMasla{
    /* margin-left: 20px; */
  }
  #thirdPage-part2{
    max-width: none;    
    
  }
  #thirdPage-part2-innerPart {
    padding-left: 0px;    
    max-width: 800px;
    margin-left: 0;
    }
    #adjust2{
      /* background-color: yellowgreen; */
      width: 800px;
      margin: auto;
      height: 448px;
    }
    #thirdPage-part2-innerPart-content {
      max-width: none;
    }
    .fourthPage{
      max-width: 800px;      
    }
    .fifthPage{
      max-width: 800px;
      height: 650px;
    }
    #fifthPage-part1{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 150px;
    }
    .footer{
      max-width: 800px;
    }
}
@media(max-width:880px)
{
  .background{
    height: 930px;
  }
      .header{
        max-width: 650px;
        /* padding: 48px 30px 0px 30px; */
      }
      .frontPage{
        max-width: 650px;
        /* background-color: yellow; */
      }
      #frontPage-part1{
        padding: 0px 100px 0px 0px;
        margin-right: 70px;
        margin-bottom: 50px;

      }
      #frontPage-part1-text-heading h1{
          font-size: 50px;
          line-height: 58px;
         
      }   
      #frontPage-part1-text-para p{
        line-height: 30px;
        font-size: 20px;

      }
      #frontPage-part1-button button {
        max-width: 150px;
        padding: 13px 14px 13px 14px;
        font-size: 14px;
      }
      #frontPage-part2 img{
        height: 300px;
      }
      .secondPage{
        max-width: 650px;
      }
      #secondPage-part1-text{
        padding: 0px 30px 0px 30px;
      }
      .thirdPage{
        /* max-width: 650px; */
      }
      #thirdPage-part1-innerPart{
        /* padding-left: 48px; */
      }
      #adjust{
        max-width: 650px;
      }
      .thirdpageMasla{
        /* margin-left: 69px; */
      }
      #thirdPage-part2-innerPart{
        /* padding-left: 48px; */
        max-width: 700px;
      }
      #adjust2{
      max-width: 650px;
      }
      #thirdPage-part2-innerPart-content {
        max-width: none;
      }
      #thirdPage-part2-innerPart-content h1{
        
        font-size: 28px;
      }
      .fourthPage{
        max-width: 650px;
        height: 850px;
      }
      #fourthPage-part2-row1{
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      
      .background3{
        height: 900px;
      }
      #fourthPage-part1{
        margin-bottom: 50px;
        /* background-color: yellow; */
      }
      .fifthPage{
        max-width: 650px;
      }
      .footer{
        max-width: 650px;
      }
      .footerPart1-parts h6 {
        font-size: 14px;
      }
      .footerPart1-parts a{
        font-size: 10px;
      }
      #footerPart2-col2 a{
        font-size: 12px;
      }
      #footerPart1-col1 img {
        width: 45px;
        height: 45px;
    }
      #footerPart2-col1 img{
        width: 21px;
        height: 21px;
      }
    }
@media(max-width:624px)
{
  .background{
    height: 900px;
  }
  .header{
    max-width: 460px;
  }
  .frontPage{
    max-width: 460px;    
  }
  .header{
    padding: 48px 10px 0px 0px;
  }
  #frontPage-part1{
    margin-right: 0;
    margin-bottom: 40px;    
  }
  #frontPage-part1-text-heading h1{
    font-size: 40px;
   }
  #frontPage-part1-text-para p{
    font-size: 18px;
  }
  #navHeader img{
    height: 30px;
    width: 30px;
  }
  .header1 img{
    max-width: 150px;
  }
  .secondPage{
    max-width: 460px;
  }
  #secondPage-part1-text {
    padding: 0px;
    font-size: 27px;
}
#secondPage-part1-text p{
  font-size: 27px;
}
.thirdPage{
  /* max-width: 460px; */
}
#adjust{
  max-width: 460px;
}
#thirdPage-part1-innerPart h6 {
  font-size: 14px;
}
#thirdPage-part1-innerPart {
  font-size: 15px;
  /* padding-left: 18px; */
}
#thirdPage-part2-innerPart-content h1 {
  font-size: 22px;
}
#thirdPage-part2-innerPart-content p {
  font-size: 12px;
}
#adjust2{
  max-width:460px ;
}
#thirdPage-part2-innerPart {
  height: 345px;
  /* padding-left: 15px; */
}

.fourthPage{
  max-width:460px ;  
}
.background3{
  height: 1100px;
}
#fourthPage-part2-row1{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
}
#fourthPage-part1 h3 {
    font-size: 31px;
    }

.fifthPage{
  max-width: 460px;
}
#fifthPage-part1{
  height: 200px;
}
#fifthPage-part1-options{
  display: flex;
  flex-direction: column;
}
.fifthPage{
  height: 800px;
}
#fifthPage-part2{
  height: 170px;
}
#fifthPage-part2-heading h4{
  font-size: 21px;
}
#fifthPage-paras p{
  font-size: 14px;
}
#fifthPage-part2-para p {
  font-size: 13px;
}
#fifthPage-paras2 p{
  font-size: 14px;
}
.footer{
  max-width: 460px;
  height: 613px;
}
.footerPart1-parts a{
  margin-bottom: 3px;
}
#extraG{
  display: inline;
  margin-left: 191px;
  margin-bottom: 50px;
}
#footerPart1-col1{
  display: none;
}
.footerPart1{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
}
@media(max-width:470px)
{
  .background{
    height: 775px;
  }
  .header{
    max-width: 370px;
    padding: 48px 10px 0px 10px;
  }
  .frontPage{
    max-width: 370px;
    padding: 54px 0px 0px 0px;
  }
  #frontPage-part1{
    padding: 0px 0px 0px 10px;
    max-width: 400px;  
    padding-right: 0;
  }
  #frontPage-part1-text-heading h1{
    font-size:35px;
    line-height: 48px;
  }
  #frontPage-part1-text-para p{
    font-size: 15px;
  }
  #frontPage-part1-button button {
    max-width: 140px;
    padding: 9px 13px 9px 13px;
    font-size: 12px;
  }
  #frontPage-part2 img{
    height: 250px;
    width: 300px;
    margin-left: 0;
  }
  #rocket {
    height: 16px;
    width: 16px;
}
  .secondPage{
    max-width: 370px;
    padding: 76px 0px 90px 0px;
  }
  #secondPage-part1-text{
    padding: 10px;
  }
  #secondPage-part1-text p {
    font-size: 21px;
    line-height: 44px;
}
#secondPage-part1-heading h3 {
  font-size: 34px;
}
.secondPage-part2-paras {  
  padding: 7px;
}
#secondPage-part2-para1 p{
  font-size: 13px;
}
#secondPage-part2-para2-part1 p {
  font-size: 13px;
}
#secondPage-part2-para2-part2 p {
  font-size: 13px;
}
  .thirdPage{
    /* max-width: 370px; */
  }
  #adjust{
    max-width: 370px;
    padding: 10px;
  }
  #adjust2{
    max-width: 370px;
    padding: 10px;
  }
  #thirdPage-part1-innerPart {
    font-size: 12px;
}
  .thirdpageMasla{
    margin-left: 0;
  }
#thirdPage-part2-innerPart {
  padding-left: 0px;
  
}
  #thirdPage-part2-innerPart-content h1 {
    font-size: 18px;
}
#icon1 img {
  height: 20px;
  width: 20px;
  margin-right: 11px;
}
.fourthPage{
  max-width: 370px;
  height: 730px;
}
.background3{
height: 1650px;
}
#fourthPage-part1 h3 {
  font-size: 25px;
  }
  #fourthPage-part1 {
    margin-bottom: 0;
    }
#fourthPage-part2-row1{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
#fourthPage-part2-row1{
  gap: 24px;
}
.fifthPage{
  max-width: 370px;
}
.footer{
  max-width: 370px;
  /* display: grid;
  grid-template-columns: min-content; */
}
/* .he{
  grid-area: auto;
}
.he:nth-child(1){
  grid-area: 1/1/2/5;
} */
.footerPart1{
  margin-left: 60px;
  margin-left: 31px;
}
#extraG{
  margin-left: 156px;
}
#footerPart2-col2 a {
  font-size: 10px;
}
.footerPart1-parts a {
  font-size: 9px;
}
.footerPart1-parts h6 {
  font-size: 12px;
}
#footerPart1-col1 img {
  width: 41px;
  height: 41px;
}
.footerPart1-parts a {
  font-size: 7px;
}
}
@media(max-width:320px){
  .header {
    padding: 35px 10px 0px 0px;
    max-width: 270px;
}
  
  #navHeader img {
    height: 27px;
    width: 29px;
}
  .background{
    height: 705px;
  }
  .frontPage {
    max-width: 270px;
    padding: 43px 0px 0px 0px;
}
#frontPage-part1 {
   padding: 0px 0px 0px 0px;
}
  #frontPage-part1-text-heading h1 {
    font-size: 33px;
    line-height: 45px;
}
  #frontPage-part1-text-para p {
    font-size: 11px;
    line-height: 26px;
}
#rocket {
  height: 12px;
  width: 12px;
}
#frontPage-part1-button button {
  max-width: 96px;
  padding: 9px 10px 9px 10px;
  font-size: 9px;
}
  #frontPage-part2 img{
    margin-left: 0;
  }
  #frontPage-part2{
    height: 270px;
  }
  .secondPage{
    max-width: 270px;
    height: 850px;
    padding: 59px 0px 90px 0px;
  }
  #secondPage-part1-heading h3 {
    font-size: 28px;
}

#secondPage-part1-text p {
  font-size: 16px;
  line-height: 32px;
}
#secondPage-part2-para1 P {
  font-size: 10px;
  line-height: 26px;  
  margin-top: -20px;
}
#secondPage-part2-para2-part1 p {
  font-size: 10px;
  line-height: 26px;
  margin-top: -25px;
}
#secondPage-part2-para2-part2 p {
  font-size: 10px;
  line-height: 26px;
  margin-top: -15px;
}
#thirdPage-part1-innerPart{
  /* max-width: 200px; */
  /* padding-left: 26px; */
  line-height: 20px;
}
#thirdPage-part2-innerPart{
  /* margin-left: 30px; */

}
#adjust{
  max-width: 270px;
}
#adjust2{
  max-width: 270px;
}
#thirdPage-part2-innerPart-content h1 {
  font-size: 15px;
  line-height: 20px;
}
#thirdPage-part2-innerPart-content p {
  font-size: 11px;
}
#thirdPage-part2-innerPart-content h1 {
  margin-bottom: 6px;
}
#thirdPage-part2-innerPart img {
  margin-bottom: 18px;
}
.fourthPage{
  max-width: 270px;
  /* height: 500px; */
}
.background3{
  height: 1500px;
}
#fourthPage-part1 h3 {
  font-size: 22px;
}
.fourthPage-rows{
  font-size: 14px;
}
.fourthPage-rows {
  width: 125px;
  height: 125px;
}
.fifthPage{
  max-width: 270px;
}
#fifthPage-part2-heading h4 {
  font-size: 15px;
}
#fifthPage-paras {
  max-width: 204px;
}
#fifthPage-paras p {
  font-size: 12px;
}
#fifthPage-part2-para p {
  font-size: 11px;
  margin-bottom: -10px;
}
#fifthPage-part2-para p {
  margin-top: 6px;
}
#fifthPage-part2-button button {
  font-size: 12px;
}
#fifthPage-paras {
  max-width: 204px;
}
#fifthPage-paras2 p {
  font-size: 12px;
}
.footer{
  max-width: 270px;
}
#extraG {
  margin-left: 113px;
}
.footerPart1{
  margin-left: 0;
}
#footerPart2-col2 a {
  font-size: 7px;
}
}